<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-button color="secondary" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-buttons slot="secondary">

      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>


    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{tituloPerfil}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centerTexto">
    <ion-card-header>

    <h5>Ei, isso parece uma tela de login certo?</h5>
    <h5>Mas olha só a surpresa, não é uma!</h5>
    <h6>Para você usar nosso site não é necessario fazer uma conta, aqui você vai preencher um email para
      receber nele notificações sobre novas promoções postadas.</h6>
    <h6>Mas vale lembrar que isso não é obrigatorio, se você não quiser fazer isso não é necessario</h6>
    
    </ion-card-header>

  </div>


  <div class="centerTexto">

    <ion-input placeholder="Digite seu email" id="email"></ion-input>
  
    </div>



</ion-content>
