<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-button color="secondary" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>

    <ion-title>{{tituloPerfil}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centerTexto">
    <ion-card-header>

    <h5>Ei, isso parece uma tela de login certo?</h5>
    <h5>Mas olha só a surpresa, não é uma!</h5>
    <h6>Para você usar nosso site não é necessario fazer uma conta, aqui você vai preencher um email para
      receber nele notificações sobre novas promoções postadas.</h6>
    <h6>Mas vale lembrar que isso não é obrigatorio, se você não quiser fazer isso não é necessario</h6>
    
    </ion-card-header>

  </div>


  <div class="centerButton">

    <ion-item class="imput-email">
      <ion-label position="fixed">Email:</ion-label>
      <ion-input placeholder="..."></ion-input>
    </ion-item>
  
    <ion-button style="margin-left:10px;" (click)="presentToast()">Enviar</ion-button>

  </div>

</ion-content>
