<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-button color="secondary" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-buttons slot="secondary">

      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{sem-estoque}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
