<ion-header [translucent]="true">
  <ion-toolbar color="secondary">

    <ion-buttons slot="secondary">

      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-buttons slot="primary">

      <ion-button routerLink="/adicionar">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title>{{tituloHome}}</ion-title>
  </ion-toolbar>
</ion-header>

<div class="centerTesto">

</div>

<ion-content [fullscreen]="true">

  <div class="centerTexto">
    <strong><h1>Quem não gosta de algumas promoções certo?</h1></strong>
    <h5>Aqui vou te disponibilizar as melhores promoções do momento, venha conferir!</h5>
    </div>

  <div class="centerTexto">
  <ion-card>
    <ion-card-header>

        <img src="https://a-static.mlcdn.com.br/450x450/smart-tv-led-32-tcl-32s6500s-android-wi-fi-hdr-inteligencia-artificial-2-hdmi-usb/magazineluiza/193425100/5795951db13a79719ca35d603ff7913b.jpg"/>

      <ion-item>
       <ion-card-title class="centerTitulo"><ion-icon name="desktop-outline"></ion-icon> Smart TV SEMP TCL</ion-card-title>
      </ion-item>

    </ion-card-header>
    <ion-card-content>

    <p>Uma Smart TV SEMP TCL com 32 polegadas e HDR
    Possui integração com Google Assistant, wifi e bordas finas!</p>

      <a href="https://www.kabum.com.br/produto/169835/smart-tv-semp-tcl-led-32-hdr-1366x768-hd-usb-hdmi-wi-fi-60hz-google-assistant-borda-fina-android-cts-preto-32s615">
        <ion-button size="small">
          R$ 1.399,00
        <ion-icon slot="end" name="star"></ion-icon>
        </ion-button>
      </a>

    </ion-card-content>
  </ion-card>
 </div>

 <div class="centerTexto">
  <ion-card>
    <ion-card-header>

        <img src="https://images.kabum.com.br/produtos/fotos/171456/headset-gamer-razer-kraken-v3-x-usb-chroma-rgb-surround-7-1-drivers-40mm-rz04-03750100-r3u1_1626445755_g.jpg"/>

      <ion-item>
       <ion-card-title class="centerTitulo"><ion-icon name="headset-outline"></ion-icon> Headset Gamer Razer Kraken</ion-card-title>
      </ion-item>

    </ion-card-header>
    <ion-card-content>

    <p>Headset Gamer Razer Kraken V3 X USB Chroma RGB Conforto Ultra-leve para Imersão Nos Jogos Viva
      uma imersão completa sem sentir o peso.</p>

      <a href="https://www.kabum.com.br/produto/171456/headset-gamer-razer-kraken-v3-x-usb-chroma-rgb-surround-7-1-drivers-40mm-rz04-03750100-r3u1">
        <ion-button size="small">
          R$ 699,00
        <ion-icon slot="end" name="star"></ion-icon>
        </ion-button>
      </a>

    </ion-card-content>
  </ion-card>
 </div>

 <div class="centerTexto">
  <ion-card>
    <ion-card-header>

        <img src="https://images.kabum.com.br/produtos/fotos/sync_mirakl/173977/Console-Playstation-5-Ps5-Sony-Branco-Disc-Version_1625063236_g.jpg"/>

      <ion-item>
       <ion-card-title class="centerTitulo"><ion-icon name="game-controller-outline"></ion-icon> Video Game Playstation 5 PS5 825GB Sony</ion-card-title>
      </ion-item>

    </ion-card-header>
    <ion-card-content>

    <p>A Sony agora com tudo o que um gamer sempre sonhou. Um console poderoso com diversos jogos AAA exclusivos!
      Curta a velocidade do SSD, uma imersão mais profunda com suporte a feedback tátil, gatilhos adaptáveis e áudio 3D incríveis.</p>

      <a>
        <ion-button  size="small"(click)="presentToast()">
          R$ 5.699,00
        <ion-icon slot="end" name="star"></ion-icon>
        </ion-button>
      </a>

    </ion-card-content>
  </ion-card>
 </div>

</ion-content>


